*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0px;
}

html,
body,
#app {
  height: 100%;
}

body {
  font-family: "Helvetica Neue", "Helvetica", "Hiragino Sans",
    "Hiragino Kaku Gothic ProN", "Arial", "Yu Gothic", "Meiryo", sans-serif;
}

button {
  background-color: #fff;
  border: solid 1px #b1b1b6;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

button:hover {
  background-color: #c6c6d3;
}
button:active {
  background-color: #9696a8;
}
